// $icon-font-path: '../fonts/';

// bower:scss
//@import "bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// Core variables and mixins
@import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/variables";
@import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/mixins";

// Reset and dependencies
@import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/normalize";
@import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/print";
@import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/glyphicons";

// Core CSS
@import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/scaffolding";
@import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/type";
@import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/code";
@import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/grid";
@import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/tables";
@import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/forms";
@import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/buttons";

// Components
// @import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/component-animations";
@import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/dropdowns";
@import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/button-groups";
@import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/input-groups";
// @import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/navs";
// @import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/navbar";
// @import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/breadcrumbs";
// @import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/pagination";
// @import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/pager";
@import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/labels";
// @import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/badges";
// @import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/jumbotron";
// @import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/thumbnails";
// @import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/alerts";
// @import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/progress-bars";
// @import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/media";
// @import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/list-group";
// @import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/panels";
// @import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/responsive-embed";
// @import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/wells";
@import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/close";

// Components w/ JavaScript
// @import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/modals";
//@import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/tooltip";
// @import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/popovers";
// @import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/carousel";

// Utility classes
@import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/utilities";
@import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/responsive-utilities";
// endbower


$primary-color: #535353;
$secondary-color: #3c3c3c;
$text-color: #fff;
$text-color-alt: #535353;
$border-color: #5f5f5f;

@import "./tooltip";

body {
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

header {
  background-color: $primary-color;
  color: $text-color;

  h1 {
    font-size: 2em;
    font-weight: 200;
    display: inline-block;
    line-height: 1.2;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  a {
    color: #4fb906;
    text-decoration: none;
    font-weight: 400;
    font-size: 0.8em;
    float: right;
    line-height: 4;
  }
  a:hover {
    color: $text-color;
  }
}

/* A little bootstrap modification */
#filter {
  float: right;
  display: inline-block;
}

.filter {
  .form-group {
    margin-bottom: 5px;
  }
  ul {
    list-style: none;
    padding-left: 0.8em;
    padding-right: 0.8em;
  }
  label {
    font-weight: 300;
    font-size: 0.9em;
    padding-right: 0;
  }
  button {
    background-color: $secondary-color;
    color: $text-color;
    box-shadow: none;
    border: none;
  }
  .apply {
    float: right;
    margin-right: 0.5em;
  }
  .open .dropdown, .apply {
    text-transform: uppercase;
  }

  .dropdown-menu label {
    color: $text-color-alt;
  }

  .dropdown {
    padding: 0 0.8em;
    font-size: 1.13em;
    font-weight: 400;
    line-height: 2.0;
  }

  .text {
    text-align: left;
    display: inline-block;
  }

  .dropdown-menu {
      border: 1px solid $secondary-color;
      border-radius: 0;
      margin-top: 0;
      right: 0;
      left: inherit;
  }

}
// /* end a little bootstrap */

.countries {
  border-top: 1px dashed $border-color;
  padding-top: 1em;
  display: block;
  border-collapse: collapse;

  .caret {
    margin-left: 8px;
  }

  .indicator-pil {
    display: inline-block;
    width: 220px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 0.2em;
    float: left;
  }

  .grouping-category {
    text-transform: uppercase;
    font-size: 0.9em;
    vertical-align: top;

    span {
      border-top: 1px dashed $border-color;
      display: block;
      width: 100%;
      padding: 0.5em;
    }
  }

  .grouping {
    width: 20%;
    padding: 5px;

  }

  thead {
    border-bottom: 1em solid #fff;
  }

  tr {
    border-bottom: 0.5em solid #fff;
  }

  td, th {
    margin-right: 1em;
    border-right: 0.5em solid #fff;
  }

  th, td {
    font-weight: 300;
  }
  th {
    font-size: 1em;
    text-transform: uppercase;
    text-align: center;
    color: $text-color;
    font-size: 1em;
  }
  td {
    font-size: 1.2em;
  }
  td.score {
    padding-right: 1em;
    text-align: right;
  }

  .score {
    width: 5%;
  }
  .country {
    width: 20%;
  }
  .results {
    width: 60%;
    .result-wrapper {
      position: relative;
    }
  }
  .results a {
    width: 0%;
    float: left;
    height: 1.6em;
    display: block;
    overflow: hidden;
    margin-right: 1px;
    text-align: center;
  }
  .theader {
    padding: 5px 1em 5px 1em;
  }
  .theader, .indicator{
    line-height: 1.42857143;
  }
  .score {
    min-width: 7em;
  }

  .indicator-pil {
    line-height: 2;
  }
  .country {
    padding-left: 1em;
    padding-right: 1em;
  }

  .country, .theader {
    background-color: $secondary-color;
  }

  a {
    color: $text-color;
    text-decoration: none;
    width: 100%;
    display: inline-block;
  }

  a:link,  a:visited,  a:active {
    color: $text-color;
    text-decoration: none;
  }

  td:first-child:hover,
  td a:hover {
    opacity: 0.60;
  }

  .tooltip {
    p {
      margin: 1em 1em;
    }
    .title {
      text-transform: uppercase;
    }
    .ind-score {
      font-size: 25px;
      margin: 0.5em 1em;
    }
    .description {
      text-align: left;
    }
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

//**
