// $icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower



$primary-color: #535353;
$text-color: #fff;
$rti: #50b805;
$hdi: #34a1e3;

body {
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

header {
  background-color: $primary-color;
  color: $text-color;

  h1 {
    font-size: 2em;
    font-weight: 200;
    display: inline-block;
    line-height: 1.2;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  a {
    color: #4fb906;
    text-decoration: none;
    font-weight: 400;
    font-size: 0.8em;
    float: right;
    line-height: 4;
  }
  a:hover {
    color: $text-color;
  }
}

/* A little bootstrap modification */
#filter {
  text-align: right;
  margin-bottom: 1em;
  margin-top: 1em;
}

.filter {
  .form-group {
    margin-bottom: 5px;
  }

  label {
    font-weight: 300;
    font-size: 0.9em;
    padding-right: 0;
  }
  .btn-default, .open .btn-default {
    text-transform: uppercase;
    background-color: $primary-color;
    color: $text-color;
    box-shadow: none;
    border-radius: 0;
    border: none;
  }

  .btn {
    padding: 0 0.8em;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 2.0;
  }

  .text {
    text-align: left;
    width: 350px;
    display: inline-block;
  }
  .caret {
    border-top: 5px dashed;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
  }
  .dropdown-menu {
      border: 1px solid black;
      border-radius: 0;
      margin-top: 0;
  }

}
// /* end a little bootstrap */

.countries {
  border-top: 1px dashed #5f5f5f;
  padding-top: 1em;
  display: block;

  thead {
    border-bottom: 1em solid #fff;
  }
  tr {
    border-bottom: 0.5em solid #fff;
  }

  td:first-child, th:first-child {
    margin-right: 1em;
    border-right: 0.5em solid #fff;
  }
  th, td {
    font-weight: 300;
  }
  th {
    font-size: 1em;
    text-transform: uppercase;
    text-align: center;
    color: $text-color;
    font-size: 1em;
  }
  td {
    font-size: 1.2em;
  }
  .hdi-label {
    margin-right: 0.35em;
  }
  .rti-label, .hdi-label {
    width: 50%;
    border: 1px solid #000;
  }
  .results a {
    float: left;
    height: 1.6em;
    display: block;
    border-right: 1px solid #eee;
  }
  .theader, .hdi, .rti {
    padding: 5px 1em 5px 1em;
    line-height: 1.42857143;
  }
  .country {
    padding-left: 1em;
    padding-right: 1em;
  }

  .rti, .rti-label {
    background-color: $rti;
    border-color: $rti;
  }

  .hdi, .hdi-label {
    background-color: $hdi;
    border-color: $hdi;
  }

  .country, .country-label {
    background-color: #3c3c3c;
  }
  a {
    color: $text-color;
    text-decoration: none;
    width: 100%;
    display: inline-block;
  }

  a:link,  a:visited,  a:active {
    color: $text-color;
    text-decoration: none;
  }

  td:first-child:hover,
  td a:hover {
    opacity: 0.60;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
