// $icon-font-path: '../fonts/';

// bower:scss
// @import "bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower


$primary-color: #535353;
$text-color: #fff;
$rti: #50b805;
$hdi: #34a1e3;

body {
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

header {
  background-color: $primary-color;
  color: $text-color;

  h1 {
    font-size: 1.5rem;
    font-weight: 200;
    display: inline-block;
    line-height: 0.9;
  }

  a {
    color: #4fb906;
    text-decoration: none;
    font-weight: 400;
    font-size: 0.8rem;
    float: right;
    line-height: 4;
  }
  a:hover {
    color: $text-color;
  }
}

/* A little bootstrap modification */
.filter {

}

.btn-default {
  text-transform: uppercase;
  background-color: $primary-color;
  color: $text-color;
}

.btn {
  padding: 0 0.8em;
  width: 14em;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: left;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
}

.btn-lg .caret {
  border-width: 5px 5px 0;
  border-bottom-width: 0;
}

.btn .caret {
  margin-left: 0;
  float: right;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 5px dashed;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.open>.dropdown-menu {
  display: block;
}
/* end a little bootstrap */

.countries {
  border-top: 1px dashed #5f5f5f;
  padding-top: 1em;
  display: block;

  thead {
    border-bottom: 1em solid #fff;
  }
  tr {
    border-bottom: 0.5em solid #fff;
  }

  td:first-child, th:first-child {
    margin-right: 1em;
    border-right: 0.5em solid #fff;
  }
  th, td {
    font-weight: 300;
    font-size: 1rem;
  }
  th {
    text-transform: uppercase;
    text-align: center;
    color: $text-color;
    font-size: 0.8rem;
  }
  .hdi-label {
    margin-right: 0.35em;
  }
  .rti-label, .hdi-label {
    width: 50%;
    border: 1px solid #000;
  }
  .results a {
    float: left;
    height: 20px;
    display: block;
    border-right: 1px solid #eee;
  }
  .label, .hdi, .rti {
    padding: 5px 1em 5px 1em;
    line-height: 1.42857143;
  }
  .country {
    padding-left: 1em;
    padding-right: 1em;
  }

  .rti, .rti-label {
    background-color: $rti;
    border-color: $rti;
  }

  .hdi, .hdi-label {
    background-color: $hdi;
    border-color: $hdi;
  }

  .country, .country-label {
    background-color: #3c3c3c;
  }
  a {
    color: $text-color;
    text-decoration: none;
    width: 100%;
    display: inline-block;
  }

  a:link,  a:visited,  a:active {
    color: $text-color;
    text-decoration: none;
  }

  td:first-child:hover,
  td a:hover {
    opacity: 0.60;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
