<div class="filter">
  <div class="btn-group">
    <button on-tap="filter.toggle" class="label label-default dropdown-toggle dropdown" type="button"><span class="text"><span>+</span></button>
    <div class="dropdown-menu form-horizontal{{#filter.open}} open{{/}}" role="menu">
      <ul>
      {{#indicators.scoring}}
        <li class="checkbox">
          <label>
          <input type="checkbox" name="{{indicators.visible}}" value="{{this}}" class="{{this}}">
            <span class="pretty">
            {{getIndicator(this, 'title')}}
            </span>
          </label>
        </li>
      {{/}}
      </ul>
    </div>
  </div>
</div>