<div id="grouping"><grouping /></div>
<table class='countries'>
  <thead>
    <tr>
      {{#sorting.grouping}}
      <th class="grouping theader">Grouping</th>
      {{/}}
      <th on-tap="sorting.sort:title" class='country sortable theader {{ sorting.column === "title" ? "sorted" : "" }} {{ sorting.direction === -1 && sorting.column === "title" ? "dropup" : ""}}'>Country<span class='caret'></span></th>
      <th>
        {{#indicators.visible:item}}
        <div class="indicator-pil label label-default theader truncate" style="background-color: {{getIndicator(this, 'colour')}}; width: indicators.scoring.length / indicators.visible.length-1">
            <button on-tap="indicator.remove" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span>
            </button>
           {{getIndicator(this, 'title')}}
        </div>
        {{/}}
        <div id="filter"><filter /></div>
      </th>
      <th on-tap="sorting.sort:score"
        class="score sortable theader
        {{ sorting.column === 'score' ? 'sorted' : '' }}
        {{ sorting.direction === -1 && sorting.column === 'score'  ? 'dropup' : ''}}">
        <div>Score<span class='caret'></span></div></th>
    </tr>
  </thead>
  <tbody>
  {{#each groups}}
    {{#places}}

    <tr class="data-{{id}}" data-country="{{title}}">
      {{#sorting.grouping}}
        {{#first}}
          <td class="grouping-category" rowspan="{{places.length}}"><span>{{valuesMap[sorting.grouping].normalised}}</span></td>
        {{/}}

      {{/}}


      <td class="country"><a href="#/country/{{id}}">{{title}}</a></td>
      <td class="results">
        <div class="result-wrapper">

          {{#each indicators.visible}}
              <a class="indicator" href="#" title="" style="{{#valuesMap[this].normalised}}width: {{valuesMap[this].normalised / indicators.visible.length-1 }}%;{{/}} background-color: {{getIndicator(this, 'colour')}}" data-title="<h3>{{getIndicator(this, 'title')}}</h3><p>{{valuesMap[this].normalised}}</p><p>{{getIndicator(this, 'description')}}</p>"></a>
          {{/each}}

        </div>
      </td>
      <td>{{score}}</td>

    </tr>

    {{/each}}
  {{/each}}
  </tbody>
</table>