<div id="grouping"><grouping /></div>
<table class='countries'>
  <thead>
    <tr>
      <th class="theader">Grouping</th>
      <th on-tap="sorting.sort:title" class='sortable theader {{ sorting.column === "title" ? "sorted" : "" }} {{ sorting.direction === -1 ? "dropup" : ""}}'>Country<span class='caret'></span></th>
      <th>
        {{#indicators.visible:item}}
        <div class="indicator-pil label label-default theader truncate" style="background-color: {{getIndicator(this, 'colour')}}; width: indicators.scoring.length / indicators.visible.length-1">
            <button on-tap="indicator.remove" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span>
            </button>
           {{getIndicator(this, 'title')}}
        </div>
        {{/}}
        <div id="filter"><filter /></div>
      </th>
      <th on-tap="sorting.sort:score"
        class="score sortable theader
        {{ sorting.column === 'score' ? 'sorted' : '' }}
        {{ sorting.direction === -1 ? 'dropup' : ''}}">
        <div>Score<span class='caret'></span></div></th>
    </tr>
  </thead>

  {{#each sorting.sort( places, sorting.column, sorting.direction ): i}}
  <tr class="data-{{id}}" data-country="{{title}}">
    <td> {{indicatorid}} </td>
    <td class="country"><a href="#/country/{{id}}">{{title}}</a></td>
    <td class="results">
      <div class="result-wrapper">

        {{#each indicators.visible}}
            <a class="indicator" href="#" title="" style="{{#valuesMap[this].normalised}}width: {{valuesMap[this].normalised / indicators.visible.length-1 }}%;{{/}} background-color: {{getIndicator(this, 'colour')}}" data-title="<h3>{{getIndicator(this, 'title')}}</h3><p>{{valuesMap[this].normalised}}</p><p>{{getIndicator(this, 'description')}}</p>">{{valuesMap[this].normalised}}</a>
        {{/each}}

      </div>
    </td>
    <td>{{score}}</td>
  </tr>
  {{/each}}
</table>